@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
}

:root {
  font-family: 'Inter', sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  color: #111827;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}


.transition-minimal {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}